$fontSizeBasic: 16px;

$fontConsola: "consola";
$fontRoundhand: "snell roundhand script";
$fontBrush: "brush script mt";
$fontYahei: "microsoft yahei";

$colorGreyDark: #555;
$colorGrey: #777;
$colorGreyLight: #aaa;
$colorGreyLighter: #ddd;

$colorWhite: #fff;
$colorWhiteDark: #f5f5f5;
$colorWhiteDarker: #f0f0f0;

$colorBlack: #000;
$colorBlackLight: #333;

$colorBlue: #007bff;
$colorIndigo: #6610f2;
$colorPurple: #6f42c1;
$colorPink: #e83e8c;
$colorRed: #dc3545;
$colorOrange: #fd7e14;
$colorYellow: #ffc107;
$colorGreen: #28a745;
$colorTeal: #20c997;
$colorCyan: #17a2b8;